/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(48, 63, 127);
}
.container {
  position: relative;
  max-width: 600px;
  /*width: 100%;*/
  background: #fffffff5;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 550;
  text-align: center;
}
.container .form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.form .input-box {
  margin-top: 20px;
}
.input-box label {
  color: #212121;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: #5d5d5d;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color:#212121;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.gender-box .gender-option {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.gender-box .gender{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.gender-box input[type="radio"] {
  accent-color: rgb(92, 119, 239);
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0;
  box-shadow: none;
  padding: 0;
}
.gender-box label {
  color: #5d5d5d;
  cursor: pointer;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:  rgb(87, 113, 242);
}
.form button:hover {
  background: rgb(75, 43, 233);
}
form input.error,
form select.error {
  border-color: #f91919;
  /*background: #f9f0f1;*/
}
form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}